{% extends 'base.html' %} {% block content %} {% load static %}

<section id="findUs">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-5 mb-6 text-center">
        <h5 class="text-danger">FIND US</h5>
        <h2>Access us easily</h2>
      </div>
      <div class="col-12">
        <div class="card card-span rounded-2 mb-3">
          <div class="row">
            <div class="col-md-6 col-lg-7 d-flex">
              {% comment %} <img class="w-100 fit-cover rounded-md-start rounded-top rounded-md-top-0" src="assets/img/gallery/map.svg" alt="map" /> {% endcomment %}
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122527.61774239289!2d80.3521160129353!3d16.323554616889783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a755cb1787785%3A0x9f7999dd90f1e694!2sGuntur%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1736221264879!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
            <div class="col-md-6 col-lg-5 d-flex flex-center">
              <div class="card-body">
                <h5>Contact with us</h5>
                <p class="text-700 my-4"> <i class="fas fa-map-marker-alt text-warning me-3"></i><span>Team Calmora, Guntur, A.P</span></p>
                <p
                  ><i class="fas fa-phone-alt text-warning me-3"></i><span class="text-700">Monday - Friday: 10 am - 10pm<br /><span class="ps-4">Sunday: 11 am - 9pm </span></span></p
                >
                <p><i class="fas fa-envelope text-warning me-3"> </i><a class="text-700" href="mailto:vctung@outlook.com"> info@Calmora.in</a></p>
                <ul class="list-unstyled list-inline mt-5">
                  <li class="list-inline-item"
                    ><a class="text-decoration-none" href="#!"><i class="fab fa-facebook-square fs-2"></i></a
                  ></li>
                  <li class="list-inline-item"
                    ><a class="text-decoration-none" href="#!"><i class="fab fa-instagram-square fs-2"></i></a
                  ></li>
                  <li class="list-inline-item"
                    ><a class="text-decoration-none" href="#!"><i class="fab fa-twitter-square fs-2"></i></a
                  ></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary px-5 mt-4" type="submit"><i class="fas fa-phone-alt me-2"></i><a class="text-light" href="tel:9959382287">Call us 9581912835</a></button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>

{% endblock %}
